// Color website
$primary-color: #5834C0;
$light-color: #fff;
$dark-color: #28203f;

// Font website 
$primary-font: 'Nunito Sans',
sans-serif;
$secondary-font: 'Poppins',
sans-serif;

// Base website
$wrapper: 1170px;